<h1>Edit User</h1>
<form method="post" action="/users/<%= @user.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= @user.name %>" />
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="<%= @user.email %>" />
  </div>

  <div>
    <input type="submit" value="Update!" />
  </div>
</form>

<%= link_to 'Back', @user %>