<h1>Create a new user</h1>
<form method="post" action="/users">
  <input placeholder="User Name" name="name" />
  <input placeholder="Email" name="email" />
  <input type="submit" value="Create User"/>
</form>